<% include head %>


<body id="StartPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <% include navbar %>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">About Us
          <small>It's Nice to Meet You!</small>
        </h1>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p> -->
      </div>
    </div>

    <div class="text-center">
      <a href="/"><img src="/img/woodcalc.png" alt="woodcalc" width="30%"></a>
      <p>Specialists in wood joint calculations</p>
      <h5>we are in beta</h5>
      <br>
      <h2>An app for wood joint calculations.</h2>
    </div>

    <br><br>

    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Our Team</h2>
      </div>
      <div class="col-lg-6 col-sm-6 text-center">
        <img class="img-circle img-responsive center-block" src="/img/mariano.png" alt="Mariano González">
        <h3>Mariano González Sanz
          <small>MEng Forestry Engineer</small>
        </h3>
        <p>Freelance and <a href="http://www.woodcalc.com/">Woodcalc</a>´s CEO</p>
        <p>Received in 2016 his MEng degree in Structural Timber Engineeringfrom the <a target = "_blank" href="https://www.pemade.com/">PEMADE platform</a> at the <a target = "_blank" href="https://www.usc.es/">University of Santiago de Compostela</a>.</p>
        <p>In 2010 he received his <a target = "_blank" href="http://www.montes.upm.es/">Forestry Engineer Degree</a> at the <a target = "_blank" href="http://www.upm.es/">Technical University of Madrid (UPM)</a>.</p>
        <p>Personal webpage: <a target = "_blank" href="http://marianogs.com/">marianogs.com</a></p>
        <p><i class="glyphicon glyphicon-envelope"></i><a target ="_blank" href="mailto:mariano@woodcalc.com">mariano@woodcalc.com</a></p>
      </div>
      <div class="col-lg-6 col-sm-6 text-center">
        <img class="img-circle img-responsive center-block" src="/img/diego.png" alt="Diego Martín">
        <h3>Diego Martín
          <small>PhD in computer science</small>
        </h3>
        <p>Lecturer at the <a target = "_blank" href="http://www.upm.es/observatorio/vi/index.jsp?pageac=investigador.jsp&idInvestigador=24477">Department of Telematics</a> of the <a target = "_blank" href="http://www.upm.es/">Technical University of Madrid (UPM)</a>.</p>
        <p>Received his doctoral degree in 2012 from the Department of Informatics at the <a target = "_blank" href="http://www.uc3m.es/">Carlos III University of Madrid</a>, Spain (Title of the thesis: <a target = "_blank" href = "http://hdl.handle.net/10016/16534">Project Patterns to Manage Knowledge in Software Development Organizations.</a>)</p>
        <p>Personal webpage: <a target = "_blank" href="http://diego-martin.info">diego-martin.info</a></p>
        <p><i class="glyphicon glyphicon-envelope"></i><a target ="_blank" href="mailto:diego@woodcalc.com">diego@woodcalc.com</a></p>
      </div>
    </div>

  </div>
</body>
<br><br>
<div class="col-lg-12">
  <h2 class="page-header"></h2>
</div>
<% include donation %>
<% include footer %>
