<% include head %>

<body id="StartPage">
  <div class="container">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-striped">
          <tbody>
            <tr>
              <th valign="top" width="15%">
                Title
              </th>
              <td>
                <span class="caption">DESIGN VALUES</span> <br>
              </td>
            </tr>

            <tr>
              <th valign="top">
                Description
              </th>
              <td>
                <p>This function gives you the design values for different strength classes.
                  <br>These values are based on UNE-EN-338 for solid timber and UNE-EN-14080 for Glue Laminated timber.
                  <br>Then the increase and decrease factors are applied in accordance with Eurocode 5 and CTE DB-SE-M.
                  <br>These values will be used in the other functions implemented by WoodCalc.
                </p>

              </td>
            </tr>

            <tr>
              <th valign="top">
                Image
              </th>
              <td>
                <div class="cell"><img style="width: 75%;" alt="Design Values" src="/img/DesignValues.jpg" class="cell-fluid" /></div>
              </td>
            </tr>

            <tr>
              <th valign="top">
                Example URL
              </th>
              <td>
                <span class="caption"><a href="/DesignValues/?s=GL24h&amp;service=1&amp;LoadDuration=S&amp;b=70&amp;h=70&amp;Ksys=true&amp;Kh=true&amp;gammaM=1.30&amp;format=json"><b><code>/DesignValues/?s=GL24h&service=1&LoadDuration=S&b=70&h=70&Ksys=true&Kh=true&gammaM=1.30&format=json</code></b></a></span> <br>
              </td>
            </tr>
            <tr>
              <th valign="top">
                Method
              </th>
              <td>
                <span class="caption"><b><code>GET</code></b></span> <br>
              </td>
            </tr>

            <tr>
              <th valign="top">
                URL Params
              </th>
              <td>
                <b>Required:</b> <br>
                <code>s=[StrengthValue]</code> <br>
                The alpha-numeric code of the strength classes. A value from the next lists:<br>
                <b>Softwood:</b> C14, C16, C18, C20, C22, C24, C27, C30, C35, C40, C45 or C50.<br>
                <b>Hardwood:</b> D18, D24, D30,  D35, D40, D50, D60 or D70<br>
                <b>Homogenous Glue Laminated:</b> GL20h, GL22h, GL24h, GL26h, GL28h or GL30h<br>
                <b>Combined Glue Laminated:</b> GL20c, GL22c, GL24c, GL26c, GL28c or GL30c<br>
                <br>
                example: s=C14  <br><br>

                <code>service =[1|2|3]</code> <br>
                The service class is indicated by introducing the number of the corresponding service class, 1, 2 or 3 <br><br>
                example: service=1  <br><br>

                <code>LoadDuration =[I|S|M|L|P]</code> <br>
                Load duration is indicated by introducing one of the following parameters : I, S,M L or P  <br><br>
                example: LoadDuration=S  <br><br>

                <code>b =[Integer]</code> <br>
                Width measured in millimeters(mm)<br><br>
                example: b=70  <br><br>

                <code>h =[Integer]</code> <br>
                Depth measured in millimeters (mm)<br><br>
                example: h=70  <br><br>

                <code>Ksys =[true|false]</code> <br>
                Load sharing factor. Introduce true or false for the load sharing factor to be considered or not, respectively.<br><br>
                example: Ksys=true  <br><br>

                <code>Kh =[true|false]</code> <br>
                Depth factor. Introduce true or false for the depth factor to be considered or not, respectively.
                example: Ksys=true  <br><br>

                <code>gammaM =[float]</code> <br>
                Partial factor for material properties, also accounting for model uncertainties and dimensional variations. This input is a number.
                example: gammaM=1.3  <br><br>

                <code>format=[xml|json]</code> <br>
                Choose the language you wish the output to be in. Indicate either json or xml. <br><br>
                example: format=json  <br><br>

              </td>
            </tr>

            <tr>
              <th valign="top">
                Success Response
              </th>
              <td>
                <b>Example: </b> <br>
                <b>Code:</b> 200 <br>
                <b>Example content:</b> <code> {"fmd":"21.29","ft0d":"11.29","ft90d":"0.28","fc0d":"14.54","fc90d":"1.73","fvd":"2.77"}</code><br>
              </td>
            </tr>

            <tr>
              <th valign="top">
                Response Params
              </th>
              <td>
                <b>fmd</b>= Design bending strength.<br>
                <b>ft0d</b>= Design tensile strength along the grain.<br>
                <b>ft90d</b>= Design tensile strength perpendicular to the grain.<br>
                <b>fc0d</b>=Design compressive strength along the grain.<br>
                <b>fc90d</b>= Design compressive strength perpendicular to grain.<br>
                <b>fvd</b>= Design shear strength.<br>
              </td>
            </tr>

            <tr>
              <th valign="top">
                Notes
              </th>
              <td>
                <span class="caption"></span> <br>
              </td>
            </tr>
          </tbody></table>
        </div>
      </div>
    </div>
  </body>
  <% include footer %>
