<% include head %>

<body id="StartPage">
  <div class="container">
    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-striped">
          <tbody>
            <tr>
              <th valign="top" width="15%">
                Title
              </th>
              <td>
                <span class="caption">COMPRESSION PERPENDICULAR TO THE GRAIN</span> <br>
              </td>
            </tr>

            <tr>
              <th valign="top">
                Description
              </th>
              <td>
                <p>This function assesses compression perpendicular to the grain.
                  <br>This check is important to avoid crushing timber.
                  <br>Eurocode 5 and CTE DB-SE-M  have been followed for this function
                </p>

              </td>
            </tr>

            <tr>
              <th valign="top">
                Image
              </th>
              <td>
                <div class="row">
                  <div class="col-xs-6 col-md-6"><img class="figure-img pull-right img-responsive" src="/img/CompressionPerpendicularToTheGrain.jpg"/></div>
                  <div class="col-xs-6 col-md-6"><img class="figure-img pull-right img-responsive" src="/img/CompresionPerpendicularPuntu.jpg"/></div>
                </div>
              </td>
            </tr>

            <tr>
              <th valign="top">
                Example URL
              </th>
              <td>
                <span class="caption"><a href="/CompressionPerpendicularToTheGrain?Fd=14752&amp;b=90&amp;l=70&amp;a1=0&amp;a2=30&amp;l1=1000&amp;h=300&amp;Continuous=false&amp;s=GL24h&amp;service=1&amp;LoadDuration=S&amp;gammaM=1.25&amp;format=json"><b><code>/CompressionPerpendicularToTheGrain?Fd=14752&b=90&l=70&a1=0&a2=30&l1=1000&h=300&Continuous=false&s=GL24h&service=1&LoadDuration=S&gammaM=1.25&format=json</code></b></a></span> <br>
              </td>
            </tr>
            <tr>
              <th valign="top">
                Method
              </th>
              <td>
                <span class="caption"><b><code>GET</code></b></span> <br>
              </td>
            </tr>

            <tr>
              <th valign="top">
                URL Params
              </th>
              <td>
                <b>Required:</b> <br>
                <code>Fd =[Integer]</code> <br>
                Is the design force in Newtons (N)<br><br>
                example: Fd=14752  <br><br>

                <code>b =[Integer]</code> <br>
                Width measured in millimeters(mm)<br><br>
                example: b=90  <br><br>

                <code>l =[Integer]</code> <br>
                Is the contact length  measured in millimeters (mm)<br><br>
                example: l=70  <br><br>

                <code>a1 =[Integer]</code> <br>
                Increased contact length at each side by 30mm, but not more than a, l or l1/2. The system considered the minimum of these values. Measured in millimeters (mm).<br><br>
                example: a1=0  <br><br>

                <code>a2 =[Integer]</code> <br>
                Increased contact length at each side by 30mm, but not more than a, l or l1/2. The system considered the minimum of these values. Measured in millimeters (mm).<br><br>
                example: a2=0  <br><br>

                <code>l1 =[Integer]</code> <br>
                Distance between contact areas measured in millimeters (mm).<br><br>
                example: l1=1000  <br><br>

                <code>h =[Integer]</code> <br>
                Depth measured in millimeters (mm)<br><br>
                example: h=300  <br><br>

                <code>continous =[true|false]</code> <br>
                Design parameter. Introduce true or false for continuous support to continuous design or discrete design, respectively.<br><br>
                example: continous=true  <br><br>

                <code>s=[StrengthValue]</code> <br>
                The alpha-numeric code of the strength classes. A value from the next lists:<br>
                <b>Softwood:</b> C14, C16, C18, C20, C22, C24, C27, C30, C35, C40, C45 or C50.<br>
                <b>Hardwood:</b> D18, D24, D30,  D35, D40, D50, D60 or D70<br>
                <b>Homogenous Glue Laminated:</b> GL20h, GL22h, GL24h, GL26h, GL28h or GL30h<br>
                <b>Combined Glue Laminated:</b> GL20c, GL22c, GL24c, GL26c, GL28c or GL30c<br>
                <br>
                example: s=C14  <br><br>

                <code>service =[1|2|3]</code> <br>
                The service class is indicated by introducing the number of the corresponding service class, 1, 2 or 3 <br><br>
                example: service=1  <br><br>

                <code>LoadDuration =[I|S|M|L|P]</code> <br>
                Load duration is indicated by introducing one of the following parameters : I, S,M L or P  <br><br>
                example: LoadDuration=S  <br><br>

                <code>gammaM =[float]</code> <br>
                Partial factor for material properties, also accounting for model uncertainties and dimensional variations. This input is a number.
                example: gammaM=1.25  <br><br>

                <code>format=[xml|json]</code> <br>
                Choose the language you wish the output to be in. Indicate either json or xml. <br><br>
                example: format=json  <br><br>

              </td>
            </tr>

            <tr>
              <th valign="top">
                Success Response
              </th>
              <td>
                <b> Example: </b> <br>
                <b>Code:</b> 200 <br>
                <b>Example content:</b> <code>{"sigmaC90d":"1.64","fc90d":"1.80","areaEf":"9000","kc90":"1.75","index":"0.52"}</code><br>
              </td>
            </tr>

            <tr>
              <th valign="top">
                Response Params
              </th>
              <td>
                <b>sigmaC90d</b>= Design compressive stress perpendicular to the grain measured in N/mm2.<br>
                <b>fc90d</b>= Design compressive strength perpendicular to the grain measured in N/mm2.<br>
                <b>areaEf</b>= Effective contact area in compression perpendicular to the grain measured in mm2.<br>
                <b>kc90</b>= Is a factor taking into account the load configuration, the possibility of splitting and the degree of compressive deformation.<br>
                <b>index</b>= This value checks the 6.3 formula of EN 1995-1-1:20004+A1:2008 and should be lower or equal than 1.<br>
              </td>
            </tr>

            <tr>
              <th valign="top">
                Notes
              </th>
              <td>
                <span class="caption"></span> <br>
              </td>
            </tr>
          </tbody></table>
        </div>
      </div>
    </div>
  </body>
  <% include footer %>
