<% include head %>
<body id="StartPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <% include navbar %>
  <br><br>
  <div id="about" class="container">
    <div class="text-center">
      <h1>User´s guide API REST WOODCAL.COM</h1>
      <a href="/"><img src="/img/woodcalc.png" alt="woodcalc" width="30%"></a>
      <p>Specialists in wood joint calculations</p>
      <h5>we are in beta</h5>
      <br>
      <h2>An app for wood joint calculations.</h2>
    </div>

    <br><br>

    <h2>This is the user's guide of  WOODCALC.COM  to use the API REST service.</h2>

    <p>WOODCALC.COM  is resource for improve different calculation tools. Allow calculate different timber joints.
      This guide explains which are the parameters and what is the order, that you have use to program your own software (GUI, App, desktop programs...). </p>


        Available functions:
        <ul>
          <li><a href="/CharacteristicValues/doc">Characteristic values</a></li>
          <li><a href="/DesignValues/doc">Design values</a></li>
          <li><a href="/CompressionPerpendicularToTheGrain/doc">Compression perpendicular to the grain</a></li>
          <li><a href="/CompressiveStressesAtAnAngleToTheGrainEURO/doc">Compressive stresses at an angle to the grain EUROCODE 5</a></li>
          <li><a href="/CompressiveStressesAtAnAngleToTheGrainDIN/doc">Compressive stresses at an angle to the grain DIN</a></li>
          <li><a href="/NotchedMembers/doc">Notched members</a></li>
          <li><a href="/MortiseTenonPillar/doc">Mortise tenon pillar</a></li>
        </ul>
      </div>
  </body>
    <% include donation %>
    <% include footer %>
