<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">

    <div class="card" data-toggle="tooltip" title= "<%= descriptions.CompressiveStressesAtAnAngleToTheGrain.AngleRafter %>">
      <div class="card-body">
        <a href="/CompressiveStressesAtAnAngleToTheGrain/AngleRafter">
          <img class="card-img-top" src="/img/CompressiveStressesAtAnAngleToTheGrain/AngleRafter/AngleRafter_Ico310x310.PNG" alt="">
        </a>
        <h5 class="card-title text-center">Compression At An Angle Rafter.</h5>
        <a href="/CompressiveStressesAtAnAngleToTheGrain/AngleRafter" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">
    <div class="card" data-toggle="tooltip" title= "<%= descriptions.CompressiveStressesAtAnAngleToTheGrain.AllCases %>">
      <div class="card-body">
        <a href="/CompressiveStressesAtAnAngleToTheGrain">
          <img class="card-img-top" src="/img/CompressiveStressesAtAnAngleToTheGrain/AllCases/AllCases_Ico310x310.PNG" alt="">
        </a>
        <h5 class="card-title text-center">All Cases.</h5>
        <a href="/CompressiveStressesAtAnAngleToTheGrain" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>

</div>
