<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">

    <div class="card">
      <div class="card-body">
        <a href="/NotchedMembers/NotchOnSupport">
          <img class="card-img-top" src="/img/NotchedMembers/NotchOnSupport/NotchOnSupport_Ico310x310.PNG" alt="">
        </a>
        <h5 class="card-title text-center">Notch On Support.</h5>
        <a href="/NotchedMembers/NotchOnSupport" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">
    <div class="card">
      <div class="card-body">
        <a href="/NotchedMembers/NotchOppositeTheSupport">
          <img class="card-img-top" src="/img/NotchedMembers/NotchOppositeTheSupport/NotchOppositeTheSupport_Ico310x310.PNG" alt="">
        </a>
        <h5 class="card-title text-center">Notch Opposite The Support.</h5>
        <a href="/NotchedMembers/NotchOppositeTheSupport" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">
    <div class="card">
      <div class="card-body">
        <a href="/NotchedMembers/">
          <img class="card-img-top" src="/img/NotchedMembers/AllCases/NotchedMembersAllCases_Ico310x310.PNG" alt="">
        </a>
        <h5 class="card-title text-center">All Cases.</h5>
        <a href="/NotchedMembers/" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>
</div>
