<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">

    <div class="card">
      <div class="card-body">
        <a href="/MortiseTenonPillar">
          <img class="card-img-top" src="/img/MortiseTenon/MortiseTenonPillar/MortiseTenonPillar_Ico310x310.PNG" alt="">
        </a>
        <h5 class="card-title text-center">Mortise Tenon Pillar.</h5>
        <a href="/MortiseTenonPillar" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">
    <div class="card">
      <div class="card-body">
        <!-- <a href="/MortiseTenonShear"> -->
          <img class="card-img-top" src="/img/MortiseTenon/\MortiseTenonShear/MortiseTenonShear_Ico310x310.png" alt="">
        <!-- </a> -->
        <h5 class="card-title text-center">Mortise Tenon Shear.</h5>
        <a href="/MortiseTenonShear" class="btn btn-primary col-12 disabled">Woodcalc it!</a>
      </div>
    </div>
  </div>

</div>
