<nav class="navbar navbar-expand-sm fixed-top">
  <a class="navbar-brand" href="\"><strong>Woodcalc</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav navbar-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Functions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/#WoodProperties">Wood Properties</a>
          <a class="dropdown-item" href="/#CompressionPerpendicularToTheGrain">Compression perpendicular to the grain</a>
          <a class="dropdown-item" href="/#CompressiveStressesAtAnAngleToTheGrain">Compressive stresses at an angle</a>
          <a class="dropdown-item" href="/#NotchedMembers">Notched members</a>
          <a class="dropdown-item" href="/#MortiseTenon">Mortise tenon pillar</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About Us</a>
      </li>


    </ul>
  </div>
</nav>
