<div class="jumbotron text-center" style="margin-bottom:0">


  <div class="row d-flex justify-content-center align-self-center" >
    <div  class="col-xs-2" >
    <a href="/"><img src="/img/woodcalc.png" alt="woodcalc" class="img-fluid p-5"S  width="50%" ></a>
    <h2 class="text-white">Specialists in wood joint calculations</h2>
  </div>
  </div>

</div>
