<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">

    <div class="card" data-toggle="tooltip" title = "">
      <div class="card-body">
        <a href="/DesignValues">
          <img class="card-img-top" src="/img/WoodProperties/DesignValues/DesignValues_ICO310x310.png" alt="">
        </a>
        <h5 class="card-title text-center">Design Values.</h5>
        <a href="/DesignValues" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12 d-flex p-2">
    <div class="card" data-toggle="tooltip" title = "">
      <div class="card-body">
        <a href="/CharacteristicValues">
          <img class="card-img-top" src="/img/WoodProperties/CharacteristicValues/CharacteristicValues_ICO310x310.png" alt="">
        </a>
        <h5 class="card-title text-center">Characteristic Values.</h5>
        <a href="/CharacteristicValues" class="btn btn-primary col-12">Woodcalc it!</a>
      </div>
    </div>
  </div>

</div>
