<% include head %>

<body id="StartPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <% include main_navbar %>

  <% include main_jumbotron %>


  <div class="container">
    <h1>Compression Perpendicular to the Grain.</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="thumbnail text-center">
          <img src="/img/CompresionPerpendicularToTheGrain/BeamCompresion/compresionPerpendicularBeam.png" alt="" class="img-responsive">
          <div class="caption2">
            <p>Compression Perpendicular Beam</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="thumbnail text-center">
          <img src="/img/CompresionPerpendicularToTheGrain/EndSleeperBeam/EndSleeperBeam.png" alt="" class="img-responsive">
          <div class="caption2">
            <p>End Sleeper Beam</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="thumbnail text-center">
          <img src="/img/CompresionPerpendicularToTheGrain/EndSleeperPillar/EndSlepperPillar.png" alt="" class="img-responsive">
          <div class="caption2">
            <p>End Sleeper Pillar</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-12">

        <div class="thumbnail text-center">
          <img src="/img/CompresionPerpendicularToTheGrain/MiddleSleeperPillar/MiddleSleeperPillar.png" alt="" class="img-responsive">
          <div class="caption2">
            <p>Middle Sleeper Pillar</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12">
        <div class="thumbnail text-center">
          <img src="/img/CompresionPerpendicularToTheGrain/MidleSleeperBeam/MidleSleeperBeam.png" alt="" class="img-responsive">
          <div class="caption2">
            <p>Middle Sleeper Beam</p>
          </div>
        </div>

      </div>



    </div>



    <!-- <div class="container">
    <h1>Compression Perpendicular to the Grain.</h1>
    <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
    <a href="#">
    <img src="/img/CompresionPerpendicularToTheGrain/BeamCompresion/compresionPerpendicularBeam.png" class="thumbnail img-responsive">
  </a>
</div>
<div class="col-lg-4 col-sm-6 col-xs-12">
<a href="#">
<img src="/img/CompresionPerpendicularToTheGrain/EndSleeperBeam/EndSleeperBeam.png" class="thumbnail img-responsive">
</a>
</div>
<div class="col-lg-4 col-sm-6 col-xs-12">
<a href="#">
<img src="/img/CompresionPerpendicularToTheGrain/EndSleeperPillar/EndSlepperPillar.png" class="thumbnail img-responsive">
</a>
</div>
<div class="col-lg-4 col-sm-6 col-xs-12">
<a href="#">
<img src="/img/CompresionPerpendicularToTheGrain/MiddleSleeperPillar/MiddleSleeperPillar.png" class="thumbnail img-responsive">
</a>
</div>
<div class="col-lg-4 col-sm-6 col-xs-12">
<a href="#">
<img src="/img/CompresionPerpendicularToTheGrain/MidleSleeperBeam/MidleSleeperBeam.png" class="thumbnail img-responsive">
</a>
</div>
</div> -->

<h1>Compresión perpendicular 3</h1>
<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <a href="#">
      <img src="http://placehold.it/800x600" class="thumbnail img-responsive">
    </a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <a href="#">
      <img src="http://placehold.it/800x600" class="thumbnail img-responsive">
    </a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <a href="#">
      <img src="http://placehold.it/800x600" class="thumbnail img-responsive">
    </a>
  </div>
</div>

<h1>Compresión perpendicular 2</h1>
<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <a href="#">
      <img src="http://placehold.it/800x600" class="thumbnail img-responsive">
    </a>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <a href="#">
      <img src="http://placehold.it/800x600" class="thumbnail img-responsive">
    </a>
  </div>

</div>


<h1>Compresión perpendicular 2</h1>
<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <a href="#">
      <img src="http://placehold.it/800x600" class="thumbnail img-responsive">
    </a>
  </div>
</div>

</div >

<% include donation %>
<br>

<div id="googleMap" style="height:400px;width:100%;"></div>

<!-- Add Google Maps -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
var myCenter = new google.maps.LatLng(40.94212,	-4.10321);

function initialize() {
  var mapProp = {
    center:myCenter,
    zoom:12,
    scrollwheel:false,
    draggable:false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

  var marker = new google.maps.Marker({
    position:myCenter,
  });

  marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<% include footer %>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== ""){
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>

</body>
