<div class="jumbotron text-center">
  <!-- <h1>woodcalc</h1> -->
  <a href="/"><img src="/img/woodcalc.png" alt="woodcalc" width="30%"></a>
  <p>Specialists in wood joint calculations</p>
  <h5>we are in beta</h5>
  <!-- <form class="form-inline">
  <input type="email" class="form-control" size="50" placeholder="Email Address" required>
  <button type="button" class="btn btn-danger">Subscribe</button>
</form> -->

<!-- <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"> </span> Facebook</a>
<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"> </span> Google</a> -->
</div>
