<!doctype html>
<html lang="en" ng-app="myApp">

<% include head %>

<body id="StartPage">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.min.js"></script>
  <script type="text/javascript" src="../js/NotchedMembers.js"></script>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <!-- <h1>woodcalc</h1> -->
      <a href="/">
        <img src="/img/woodcalc.png" alt="woodcalc" width="30%">
      </a>

      <p>Specialists in wood joints calculations</p>
      <!-- <form class="form-inline">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <button type="button" class="btn btn-danger">Subscribe</button>
    </form> -->

    <!-- <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"> </span> Facebook</a>
    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"> </span> Google</a> -->
  </div>

  <div ng-controller="CalculoController as calculoCtrl">
    <form name="calculoForm" ng-submit = "calculoForm.$valid && calculoCtrl.sendCalculation()" novalidate>

      <!-- sección para la foto -->

      <div class="row-pictures">

        <figure class="figure">
      	<img src="/img/NotchedMembers2.jpg" class="figure-img pull-right img-responsive">
        </figure>

        <figure class="figure">
        <img src="/img/NotchedMembers1.jpg" class="figure-img pull-left img-responsive">
        </figure>

      </div>

      <!-- sección para los parametros -->

      <div class="row">
        <div class="col-xs-3">
          Strength class<br>
          <select class="form-control" selected="selected" ng-model = "calculoCtrl.calculation.woodtype" required data-toggle="tooltip" title="Structural Wood Quality">
            <% for(var i=0; i<woodtypes.length; i++) { %>
              <option value="<%= woodtypes[i] %>"><%= woodtypes[i] %></option>
              <% } %>
            </select>
          </div>
          <div class="col-xs-3">
            Vd (N)<br>
            <input class="form-control" type="number" min="0" max="10000000" ng-model="calculoCtrl.calculation.Vd" name="Vd" placeholder="Vd" required data-toggle="tooltip" title="Design shear force measured in Newtons"><br>
          </div>
          <div class="col-xs-3">
            b (mm)<br>
            <input class="form-control" type="number" min="0" max="100000" ng-model="calculoCtrl.calculation.b" name="b" placeholder="b" required data-toggle="tooltip" title=""><br>
          </div>
          <div class="col-xs-3">
            hef (mm)<br>
            <input class="form-control" type="number" min="0" max="100000" ng-model="calculoCtrl.calculation.hef" name="hef" placeholder="hef" required data-toggle="tooltip" title="Effective depth"><br>
          </div>
        </div>

        <div class="row">

          <div class="col-xs-3">
            h (mm)<br>
            <input class="form-control" type="number" min="0" max="100000" ng-model="calculoCtrl.calculation.h" name="h" placeholder="h" required data-toggle="tooltip" title="Is the beam depth in mm."><br>
          </div>
          <div class="col-xs-3">
            d (mm)<br>
            <input class="form-control" type="number" min="0" max="100000" ng-model="calculoCtrl.calculation.d" name="d" placeholder="d" required data-toggle="tooltip" title="Length of the notch"><br>
          </div>
          <div class="col-xs-3">
            x (mm)<br>
            <input class="form-control" type="number" min="0" max="100000" ng-model="calculoCtrl.calculation.x" name="x" placeholder="x" required data-toggle="tooltip" title="Distance from line of action of the support reaction to the corner of the notch"><br>
          </div>
          <div class="col-xs-3">
            Service class<br>
            <select class="form-control" selected="selected" ng-model = "calculoCtrl.calculation.service" required required data-toggle="tooltip" title="Structures shall be assigned to one of the services classes depending on its moisture content.">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>


        <div class="row">
          <div  class="col-xs-3">
            Load-duration<br>
            <select class="form-control" selected="selected" ng-model = "calculoCtrl.calculation.LoadDuration" required data-toggle="tooltip" title="The load duration classes are characterised by the effect of a constant load acting for a certain period of time in the life of the structure">
              <option value="P">Permanent</option>
              <option value="L">Long-term</option>
              <option value="M">Medium-term</option>
              <option value="S">Short-term</option>
              <option value="I">Instantaneous</option>
            </select>
          </div>
          <div class="col-xs-3">
            Kcr<br>
            <select class="form-control" selected="selected" ng-model = "calculoCtrl.calculation.Kcr" required data-toggle="tooltip" title="">
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </div>
          <div  class="col-xs-3">
            &gamma;<sub>M</sub><br>
            <select class="form-control" selected="selected" ng-model = "calculoCtrl.calculation.gammaM" required required data-toggle="tooltip" title="Partial factor for material properties, also acounting for model uncertainties and dimensional variations.">
              <option value="1.3">Solid timber (1.3)</option>
              <option value="1.25">Glued laminated timber (1.25)</option>
              <option value="1.2">LVL, plywood, OSB (1.2)</option>
              <option value="1.3">Particle boards (1.3)</option>
              <option value="1.3">Fibreboards hard, medium, mdf, soft (1.3)</option>
              <option value="1.3">Connections (1.3)</option>
              <option value="1.25">Punched metal plated fasteners (1.25)</option>
              <option value="1.0">Accidental combinations (1.0)</option>
            </select>
            <br>
          </div>
          <div class="col-xs-3">
            NotchOnSupport<br>
            <select class="form-control" selected="selected" ng-model = "calculoCtrl.calculation.notchOnSupport" required data-toggle="tooltip" title="">
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4">
          </div>
          <div class="col-xs-4">
            <input class="form-control" type="submit" value="Submit" ng-disabled = "!calculoForm.$valid" class="btn btn-primary btn-block"/>
          </div>
          <div class="col-xs-4">
          </div>

        </div>

        <hr>

        <h2>Result</h2>
        <div class="row" ng-style = "{'display': errVisibility}">

          <div class="col-xs-4">
          </div>
          <div class="col-xs-4">
            <div class="alert alert-danger">
              <strong>Error!</strong> {{errMsg}}.
            </div>
          </div>
          <div class="col-xs-4">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <h3><small>Kn</small></h3><br>
            <input class="form-control" ng-model="Kn" readonly data-toggle="tooltip" title=""><br>
          </div>
          <div class="col-xs-2">
            <h3><small>Kv</small></h3> <br>
            <input class="form-control" ng-model="Kv" readonly data-toggle="tooltip" title=""><br>
          </div>
          <div class="col-xs-2">
            <h3><small>Fvd</small></h3><br>
            <input class="form-control" ng-model="Fvd" readonly data-toggle="tooltip" title=""><br>
          </div>
          <div class="col-xs-2">
            <h3><small>TauD</small></h3><br>
            <input class="form-control" ng-model="TauD" readonly data-toggle="tooltip" title=""><br>
          </div>
          <div class="col-xs-4">
            <h3><small>index</small></h3><br>
            <input class="form-control" ng-model="index"  ng-style="{'background-color': myColor}" readonly data-toggle="tooltip" title=""><br>
          </div>
        </div>



      </div>
      <!-- <div> El formulario es: {{calculoForm.$valid}}</div> -->
      <br>
    </form>

  </div>
</div>
<% include footer %>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

</body>
</xml>
