<% include head %>
<body id="StartPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <% include navbar %>
  <br><br>
  <div id="about" class="container">
    <div class="text-center">
      <h1>DISCLAIMER</h1>
      <a href="/"><img src="/img/woodcalc.png" alt="woodcalc" width="30%"></a>
      <p>Specialists in wood joint calculations</p>
      <h5>we are in beta</h5>
      <br>
      <h2>An app for wood joint calculations.</h2>
    </div>

    <br><br>

    <h2>Disclaimer.</h2>

    <p>The software was created to assist engineers and architects in their business. This is an engineering software that is dealing with a very complex matter of structural analysis and building physics analysis.</p>
    <p>Therefore, this software shall only be operated by skilled, experienced engineers, with a deep understanding of structural engineering and building physics related to timber structures.</p>
    <p>The user of the software is obliged to check all input values, no matter if they were given by the user or given by default by the software and all results for plausibility.</p>
    <p>The use of the results of the software should not be relied upon as the basis for any decision or action. Any use of results of the software is only allowed, if the results have been verified and approved regarding completeness and correctness by a project structural/building physics engineer.</p>
  </div>
  <br><br>
  </body>
    <% include donation %>
    <% include footer %>
